<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TukeTuke.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>27CA78D4E2169FCAEC54ED980579FC50C8D1851D</string>
				<key>dateExpires</key>
				<string>16/04/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>63628YKQT7.org.reactjs.native.example.TukeTuke</string>
				<key>com.apple.developer.team-identifier</key>
				<string>63628YKQT7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>TukeTuke.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9402a3a2-47f3-4352-8b2c-7fdc92102388</string>
				<key>dateExpires</key>
				<string>16/04/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>63628YKQT7</string>
				<key>name</key>
				<string>GOLDEN LADDER INTERNATIONAL LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
